/* ----------------Site layout ------------------ */
/* ----------------Site layout ------------------ */
/* ----------------Site layout ------------------ */

@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Lato&display=swap");
/* font-family: 'Gugi', cursive;
font-family: 'Lato', sans-serif; */

:root {
  --primary-color-lightBlue: rgb(30, 213, 202);
  --primary-color-darkBlue: rgb(1, 24, 128);
  --primary-color-yellow: rgb(255, 201, 75);
  --primary-color-red: rgb(242, 48, 48);
  --primary-color-purple: rgb(87, 37, 203);
  --secondary-color-orange: #ff6e35e5;
  --background: #fcf5ef;
  --header-font: "Gugi", cursive;
  --body-text-font: "Lato", sans-serif;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
}
._container {
  background-color: whitesmoke;
  font-family: var(--body-text-font);
}
._header {
  grid-row: 1 / 2;
  background-color: whitesmoke;
  grid-column: 1 / 7;
}
._main {
  /* grid-row: 2 / 6;
  grid-column: 1 /7;
  display: flex;
  justify-content: space-evenly;
  align-items: center; */

  display: table;
  text-align: center;
  margin: auto;
  width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
._footer {
  background-color: whitesmoke;
  grid-row: 6 / 8;
  grid-column: 1 / 7;
}
.light-blue,
.dark-blue,
.yellow,
.red,
.purple {
  /* border: 1px solid red; */
  height: 300px;
  width: 300px;
}
.light-blue {
  background-color: rgb(30, 213, 202);
}
.dark-blue {
  background-color: rgb(1, 24, 128);
  color: white;
}
.yellow {
  background-color: rgb(255, 201, 75);
}
.img-deco-square {
  width: 300px;
  height: 300px;
  /* background-image: image(); */
}
.img-deco-rectangle {
  width: 650px;
  height: 300px;
  /* background-image: image(); */
}
.red {
  background-color: rgb(242, 48, 48);
}
.purple {
  background-color: rgb(87, 37, 203);
  color: white;
}

/* style challenge page */
/* style challenge page */
.challenge-main {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 100px;
}
