/* ----------------Site layout ------------------ */
/* ----------------Site layout ------------------ */
/* ----------------Site layout ------------------ */

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cute+Font&family=Gugi&family=Lato:wght@300&family=Limelight&family=Raleway:wght@300&family=Saira+Stencil+One&display=swap");
/* font-family: 'Black Ops One', cursive;
font-family: 'Cute Font', cursive;
font-family: 'Gugi', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Limelight', cursive;

font-family: 'Raleway', sans-serif;
font-family: 'Saira Stencil One', cursive; */

:root {
  --primary-color: #0c4c8a;
  --secondary-color: #ff6e35e5;
  --tertiary-color: #97d5e0;
  --box-background: #fcf5ef;
  --header-text: #1f375d;
  --text-color: white;
  /* --header-font: "Black Ops One", cursive; */
  --body-text-font: "Raleway", sans-serif;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
}
._container {
  background-color: var(--tertiary-color);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
._header {
  grid-row: 1 / 2;
  background-color: var(--tertiary-color);
  grid-column: 1 / 7;
}
._main {
  background-color: var(--tertiary-color);
  grid-row: 2 / 6;
  grid-column: 1 / 7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url(https://images.unsplash.com/photo-1468540884994-56f6f7ee1d94?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1584&q=80); */
}
._footer {
  background-color: var(--tertiary-color);
  grid-row: 6 / 8;
  grid-column: 1 / 7;
}

._openChallenges {
  background-color: var(--box-background);
  /* border: 1px solid red; */
  height: 450px;
  width: 300px;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
._openChatrooms {
  background-color: var(--box-background);
  /* border: 1px solid red; */
  height: 450px;
  width: 300px;
}
._openGames {
  background-color: var(--box-background);
  /* border: 1px solid red; */
  height: 450px;
  width: 300px;
}

/* style challenge page */
/* style challenge page */
.challenge-main {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 100px;
}

