@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.star-container {
  width: auto;
  background: transparent;
  
  display: flex;

  justify-content: flex-start;
  flex-direction: row;
}


.star-container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 20px;
  color: #444;
  padding: 5px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}


.star-widget {
  display: flex;
  flex-direction: row-reverse;
}