@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@100;300&family=Nanum+Gothic&family=New+Tegomin&family=Open+Sans+Condensed:wght@300&family=Poiret+One&family=Train+One&display=swap");

/* ----------header style--------- */
/* ----------header style--------- */
/* ----------header style--------- */
.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary-color-orange);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-list {
  float: left;
  margin: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: var(--header-text);
}
li a.active {
  background-color: var(--primary-color);
}
li.right {
  float: right;
}

/* rgb(30,213,202) 
 rgb(1,24,128)
 rgb(255,201,75) 
 rgb(242,48,48)
  rgb(87,37,203) */
.header-title {
  text-align: center;
  padding: 75px 0 0 0;
  font-family: var(--header-font);
  font-weight: normal;
  font-size: 4em;
  color: rgb(30, 213, 202);
}

@media screen and (max-width: 600px) {
  ul.navBar li.right,
  ul.navBar li {
    float: none;
  }
}

/* ----------home view style--------- */
/* ----------home view style--------- */
/* ----------home view style--------- */

.activity-card {
  display: flex;
  flex-direction: column;
  margin: 25.5px;
}
.activity-card h2 {
  text-align: center;
}

/* challenges view style */
/* challenges view style */
/* challenges view style */
.popular-challenges-list,
.current-challenges-list {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 20px;
}

.add-challenge-button {
  text-align: center;
  cursor: pointer;
}
._footer {
  text-align: center;
  padding: 30px;
}
