@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Lato&display=swap");
/* font-family: 'Gugi', cursive;
font-family: 'Lato', sans-serif; */

/* ----------header style--------- */
/* .navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary-color-orange);
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-list {
  float: left;
  margin: 0;
}
li.nav-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navBar li a:hover:not(.active) {
  background-color: var(--primary-color-darkBlue);
}
li a.active {
  background-color: var(--primary-color-lightBlue);
}
div.right {
  float: right;
} */

.header-title {
  text-align: center;
  padding: 80px;
  font-family: var(--header-font);
  font-weight: normal;
  font-size: 4em;
  color: var(--primary-color-lightBlue);
}
/*get rid of all a tag default value----------*/
a { color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  ul.navBar div.right,
  ul.navBar li {
    float: right;
  }
}
._footer {
  text-align: center;
  padding: 30px;
}
/* ----------Nav Bar Code--------- */



*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background:coral;
  height: 80px;
  width: 100%;
}

nav ul{
  float: left;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: var(--primary-color-lightBlue);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:coral;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/* section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */

/* section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  align-self: flex-start;
  margin-left: 75px;
}
.dropbtn {
  border: none;
  outline: none;
  color: white;
  width: 10em;
  height: 2em;
  cursor: pointer;
  background-color: var(--secondary-color-orange);
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: var(--primary-color-red);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.activity-card {
  display: flex;
  flex-direction: column;
  margin: 24.5px;
}
.light-blue,
.dark-blue,
.yellow,
.red,
.purple {
  /* padding: 25px; */
  text-align: center;
  font-family: var(--body-text-font);
}
.join-button {
  margin-top: 15px;
  width: 10em;
  align-self: center;
}
.activity-card p {
  padding: 5px;
  text-align: left;
}

/* challenges view style */
.challenge-main {
  display: flex;
  flex-direction: column;
}

/* style add button and modal box for challenge page and chatroom page--------------*/
.add-challenge-section,
.add-chatroom-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24.5px;
}
.add-challenge-button,
.add-chatroom-button {
  width: 10em;
  height: 2em;
  cursor: pointer;
  background-color: var(--secondary-color-orange);
  border: none;
  color: white;
}
/* The Modal (background) */
.modal-add-challenge,
.modal-add-chatroom {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-challenge-content,
.modal-chatroom-content {
  background-color: var(--primary-color-purple);
  opacity: 0.94;
  margin: 15% auto;
  padding: 20px;
  width: 25%;
  color: white;
  padding: 50px;
}
.modal-header h2 {
  margin: 10px;
}

input,
textarea {
  width: 100%;
  padding: 2px;
  margin: 2px;
}

/* The Close Button */
.close {
  color: var(--primary-color-lightBlue);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary-color-darkBlue);
  text-decoration: none;
  cursor: pointer;
}



.popular-challenges-list,
.current-challenges-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* border: 2px solid red; */
  padding: 0 0 50px 50px;
}
.popular-challenges-list li,
.current-challenges-list li {
  padding: 5px;
  font-size: 1.1em;
}
.popular-challenges {
  background-color: var(--primary-color-darkBlue);
  opacity: 0.8;
  color: white;
}
.popular-challenges h2 {
  background-color: var(--primary-color-lightBlue);
  height: 3em;
  padding: 20px;
}
.current-challenges h2 {
  padding: 20px;
}
.current-challenges-list a {
  text-decoration: none;
  color: black;
}

.popular-challenges-list a {
  text-decoration: none;
  color: white;
}

/* single challenge page style*/
.single-challenge-info {
  text-align: left;
  margin-left: 30px;
}
._singleChallengeComment h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
textarea {
  resize: none;
}

/*game page style*/
.popular-games-list,
.current-games-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 50px 50px;
}
.popular-games-list li,
.current-games-list li {
  padding: 5px;
  font-size: 1.1em;
}
.popular-games {
  background-color: var(--primary-color-red);
  opacity: 0.8;
  color: white;
}
.popular-games h2 {
  background-color: var(--primary-color-yellow);
  height: 3em;
  padding: 20px;
}
.current-games h2 {
  padding: 20px;
}

.current-games-list a {
  text-decoration: none;
  color: black;
}
.popular-games-list a {
  text-decoration: none;
  color: white;
}
/* single game page style----------------------------*/
._singleGameMain {
  border: black solid 2px;
}

._singleGameComment h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}
._singleChallengeCommentFormSection {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
._singleChallengeCommentForm {
  background-color: coral;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

._singleChallengeButton {
  cursor: pointer;
  border: none;
  height: 25px;
  width: 60px;
}
._singleChallengeButton:hover {
  background-color: cadetblue;
}

/* chatroom page style-----------------------*/
.current-chatrooms-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0 50px 50px;
}
.current-chatrooms-list li {
  padding: 5px;
  font-size: 1.1em;
}
.current-chatrooms h2 {
  padding: 20px;
}
.current-chatrooms-list a {
  text-decoration: none;
  color: black;
}

/* single chatroom style*/
._singleChatroomMain {
  border: black solid 2px;
}
/* ------------SingleChallengeCommentSection------------- */
/* ------------SingleChallengeCommentSection------------- */
/* ------------SingleChallengeCommentSection------------- */
._singleChallengeComment {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
}
._singleChallengeCommentFormSection {
  width: 30%;
  margin-right: 30px;
}
._commentsForSingleChallenge {
  width: 70%;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
._singleChallengeMain {
  margin-bottom: 5%;
}
._singleChallengeFormInputs {
  width: 100%;
}
._singleChallengeContainer {
  height: auto;
}
._commentsForSingleChallenge {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 20px;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.comment-pic {
  width: 200px;
  height: 150px;
  padding: 10px;
}
.enlarged {
  /* display: none;
  width: 400px;
  height: 300px; */
}
._accountContainer {
  /* background-color: teal; */
  width: 100%;
  height: 100%;
}
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.account-main-left {
  background-color: var(--primary-color-red);
  margin: 25px;
  width: 18%;
}
.friends-list {
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 20px;
  margin: 20px;
  align-self: flex-start;
}
.friends-list h2,
.posted-challenges h2,
.posted-comments h2 {
  padding: 10px;
}
.friends-list img {
  width: 50px;
  border-radius: 50%;
}
.account-main-right {
  margin: 25px;
  width: 40%;
}
.posted-challenges {
  padding: 10px;
  background-color: rgb(223, 217, 217);
  border-radius: 20px;
}
.posted-comments {
  margin-top: 50px;
  padding: 10px;
  background-color: rgb(223, 217, 217);
  border-radius: 20px;
}
