@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Lato&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  background: linear-gradient(to top right, white, gray, white);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.footer {
  height: 20%;
  width: 100%;
}
.hold-thymeleaf {
  text-align: center;
  margin-bottom: auto;
  width: 40%;
  background-color: darkorange;
  height: 30px;
  display: none;
}
.form-signin-heading {
  font-weight: 400;
  color: azure;
}

._logins {
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to top right, black, gray, black);
}
._signUp {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
._signIn {
  cursor: pointer;
  font-size: 1.1em;
  background-color: rgb(224, 224, 224);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
._signIn:hover {
  background-color: rgb(173, 173, 173);
}
._signUp:hover {
  background-color: rgb(173, 173, 173);
}
._mainContent {
  background: linear-gradient(
    to top right,
    rgb(70, 145, 207),
    rgb(204, 45, 45),
    rgb(78, 78, 221)
  );
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
._loginForm {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
._username {
}
._password {
}
._signInButton {
  width: auto;
  height: auto;
}
.form-signin {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form-control {
  border: none;
  padding: 8px;
}
.btn {
  background-color: whitesmoke;
  cursor: pointer;
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  margin: 20px;
}
.btn:hover {
  background-color: rgb(212, 212, 212);
}
