<!DOCTYPE html>
<html lang="en"


>
<!--xmlns="http://www.w3.org/1999/xhtml"-->
<!--xmlns:th="http://www.thymeleaf.org"-->


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual-X</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="/CSS/navBar.css">
    <link rel="stylesheet" href="/CSS/ratingStyle.css">
    <script src="https://kit.fontawesome.com/bc1222c043.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="_container">
        <header class="_header">
            <nav>
               <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <!-- <label class="logo">Virtual X</label> -->
              <ul class="nav-items-list">
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="/challenge">CHALLENGES</a></li>
                <li><a href="/game">GAMES</a></li>
                <li><a href="/chat">CHATS</a></li>
                <div class="right">
                  <!-- make media querie  -->
                  <li><a href="/account">ACCOUNT</a></li>
                  <li><a href="/logout">LOGOUT</a></li>
                </div>
              </ul>
            </nav>
            <h1 class="header-title">Account</h1>
            <!-- <h4 class="slogan">Meeting with coworkers while working from home.</h4> -->
          </header>
          <main class="_main">
            <div class="_accountContainer">
                <section class="personal-info">
                    <img class="profile-pic" src="images/account-profile-pic1.jpg" alt="Profile pic">
                    <h1 th:text="${account.username}">Weiwei-20</h1>
                    <p th:text="${account.realName}">Real Name: Weiwei Jiang</p>
                    <h3 th:text="'Points: ' + ${account.contributionPoints}">Points:110</h3>
                    
                </section>
                <section class="account-content">
                    <div class="posted-challenges">
                        <h2>My Challenges</h2>
                        <th:block th:each="challenge : ${account.joinedChallenges}">
                            <a th:href="'/challenge/'+ ${challenge.id}">
                                <h4 th:text="${challenge.title}">Lunch hour flower hunt</h4>
                                <p th:text="${challenge.description}">Spring is finally here!!! Have you told yourself “Outside is so nice, I want to go outside
                                    today.” But as time goes by, you never make it outside.
                                    This lunch hour flower hunt will give you a chance to go outside, and snip pictures of the
                                    flowers that you see in your yard, or on the way of your walk.
                                    Enjoy the sun and get moving by doing this challenge.
                                </p>
                                
                            </a>
                        <br>
                        <hr>
                        <br>
                        </th:block>
                        
                    </div>


                    <div class="posted-comments">
                        <h2>Comments</h2>
                        <th:block th:each="comment : ${account.comments}">
                            <a th:href="'/challenge/' + ${comment.currentChallengeId}">
                                <h4 th:text="${challengeStorage.retrieveChallengeById(comment.currentChallengeId).title}">Walk a mile during lunch!</h4>
                                <p th:text="${comment.text}">Great challenge! Got to talk to a coworker who works in the account department. We found out
                                    we
                                    both
                                    like Survivor.
                                </p>
                            </a>
                            <br>
                            <hr>
                            <br>
                        </th:block>
                    </div>
                </section>
            </div>

        </main>

        <footer class="_footer">&copy;2021 The Virtual X Team</footer>
    </div>
</body>

</html>