<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Virtual-X</title>
  <link rel="stylesheet" href="/CSS/style.css" />
  <link rel="stylesheet" href="/CSS/layout.css" />
</head>

<body>
  <div class="_container">
    <header class="_header">
      <nav>
        <ul class="navBar">
          <li class="active nav-list"><a href="/">HOME</a></li>
          <li class="nav-list"><a href="/challenge">CHALLENGES</a></li>
          <li class="nav-list"><a href="/game">GAMES</a></li>
          <li class="nav-list"><a href="/chat">CHATS</a></li>
          <div class="right">
            <li class="nav-list"><a href="/account">ACCOUNT</a></li>
            <li class="nav-list last-right"><a href="/logout">LOGOUT</a></li>
          </div>
        </ul>
      </nav>
      <h1 class="header-title">Chatrooms</h1>
    </header>

    <main class="_main">
      <div class="chatroom-main">

        <section class="add-chatroom-section">
          <!-- Trigger/Open The Modal -->
          <button class="add-chatroom-button">Add New Chatroom</button>
          <!-- The Modal -->
          <div class="modal-add-chatroom">
            <!-- Modal content -->
            <div class="modal-chatroom-content">
              <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Add New Chatroom</h2>
              </div>
              <form class="add-chatroom-form" action="">
                <div class="form">
                  <input type="text" placeholder="Chatroom Name" required name="chatName">
                  <input type="text" placeholder="Chatroom Capacity" required name="maxSize">
                  <textarea placeholder="Chatroom Description" rows="4" cols="50" required></textarea>
                  <button class="submit-button" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </section>

        <section class="chatroom-section">
          <div class="current-chatrooms">
            <img src="/images/chat-view-main-image2.jpg" alt="Chat image">
            <h2>Current Chatrooms</h2>
            <ol class="current-chatrooms-list">
              <li><a href="singleChatroom.html">Sample Chatroom One</a></li>
              <li>Sample Chatroom two</li>
              <li>Sample Chatroom three</li>
              <li>Sample Chatroom four</li>
              <li>Sample Chatroom five</li>
              <li>Sample Chatroom six</li>
              <li>Sample Chatroom seven</li>
              <li>Sample Chatroom eight</li>
              <li>Sample Chatroom night</li>
              <li>Sample Chatroom ten</li>
            </ol>
          </div>
        </section>
      </div>
    </main>
    <footer class="_footer">&copy;2021 The Virtual X Team</footer>
  </div>
</body>

</html>