<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual-X</title>
</head>
<body>
<div class="container">
    <form action="/create-account" method="post" class="create-account-form">
        <input type="text" placeholder="real name" name="realName" required class="real-name-input">
        <input type="text" placeholder="username" name="username" required class="username-input">
        <input type="password" placeholder="password" name="password" required class="password-input">
        <button class="create-account-button" type="submit">Create Account</button>
    </form>
</div>
</body>
</html>