<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Virtual-X</title>
  <link rel="stylesheet" href="/CSS/style.css" />
  <link rel="stylesheet" href="/CSS/layout.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="/CSS/navBar.css">
</head>

<body>
  <div class="_container">
    <header class="_header">
      <nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <!-- <label class="logo">Virtual X</label> -->
        <ul class="nav-items-list">
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="/challenge">CHALLENGES</a></li>
          <li><a href="/game">GAMES</a></li>
          <li><a href="/chat">CHATS</a></li>
          <div class="right">
            <!-- make media querie  -->
            <li><a href="/account">ACCOUNT</a></li>
            <li><a href="/logout">LOGOUT</a></li>
          </div>
        </ul>
      </nav>
      <h1 class="header-title">Games</h1>
      <!-- <h4 class="slogan">Meeting with coworkers while working from home.</h4> -->
    </header>

    <main class="_main">
      <div class="game-main">
        <div class="popular-games">
          <h2>Popular Games</h2>
          <ol class="popular-games-list">
            
          </ol>
        </div>
        <div class="current-games">
          <img src="/images/game-view-main-image.jpg" alt="Game image">
          <h2>Current Games</h2>
          <ol class="current-games-list">
            <th:block th:each="game:${games}">
              <li ><a th:href="'/game/' + ${game.id} + '/create-game'" th:text="${game.name}"></a></li>
            </th:block>
          </ol>
        </div>
      </div>
    </main>
    <footer class="_footer">&copy;2021 The Virtual X Team</footer>
  </div>
  <script src="/JS/gamePage.js"></script>
</body>

</html>