<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual-X</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/layout.css" />
</head>

<body>
    <div class="_container">
        <header class="_header">
            <nav>
                <ul class="navBar">
                    <li class="active nav-list"><a href="/">HOME</a></li>
                    <li class="nav-list"><a href="/challenge">CHALLENGES</a></li>
                    <li class="nav-list"><a href="/game">GAMES</a></li>
                    <li class="nav-list"><a href="/chat">CHATS</a></li>
                    <div class="right">
                        <li class="nav-list"><a href="/account">ACCOUNT</a></li>
                        <li class="nav-list last-right"><a href="/logout">LOGOUT</a></li>
                    </div>
                </ul>
            </nav>
            <h1 class="header-title">Sample Chatroom One</h1>
        </header>

        <main class="_main">
            <div class="_singleChatroomContainer">
                <section class="_singleChatroomMain">
                    <p>Chatroom</p>

                </section>
            </div>
        </main>

        <footer class="_footer">&copy;2021 The Virtual X Team</footer>
    </div>
</body>

</html>