<!DOCTYPE html>
<html lang="en">
<!--xmlns="http://www.w3.org/1999/xhtml"-->
<!--xmlns:th="http://www.thymeleaf.org"-->


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual-X</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="../static/CSS/layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../static/CSS/navBar.css">
    <script src="https://kit.fontawesome.com/bc1222c043.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="_container">
        <header class="_header">
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <!-- <label class="logo">Virtual X</label> -->
                <ul class="nav-items-list">
                    <li class="active"><a href="/">HOME</a></li>
                    <li><a href="/challenge">CHALLENGES</a></li>
                    <li><a href="/game">GAMES</a></li>
                    <li><a href="/chat">CHATS</a></li>
                    <div class="right">
                        <!-- make media querie  -->
                        <li><a href="/account">ACCOUNT</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                        <li><a href="/team">TEAM</a></li>
                    </div>
                </ul>
            </nav>
            <h1 class="header-title">Meet the Developers</h1>
        </header>
        <main class="_main">
            <div class="_teamContainer">
                <img class="team-img" src="../static/images/dev-img/team-virtual-x.png" alt="team virtual-x">
                <br>
                <br>
                <p class="team-story">Welcome to <strong>Virtual X</strong>, hope you had fun visiting our
                    <strong>Social, Remotely</strong> website!
                    <br>
                    <br>It was just <strong>an idea</strong>, we built the Virtual X website with the knowledge we
                    learned from boot camp and additional research, plus a lot of Googling and Stack Overflowing, we
                    were able to pull this together under 3 weeks.
                    Through this project, we learned to better communicate, to listen, to share, to speak up, to be
                    wrong, to be right,to contribute, to be frustrated, to be joyful...
                    <br>
                    <br>
                    The most important thing we learned is, to be <strong> A TEAM!</strong>
                    <br>
                    <br>
                    Bring a friend, come back and play anytime, the site is<strong> OPEN </strong>for everyone at this
                    time, just enter the
                    link <strong>http://thevirtualx.com</strong>.
                    <br>
                    <br>
                    It was our pleasure to <strong>"Meet"</strong> you! Thank you for visiting!
                </p>
                <article class="dev-info">
                    <div>
                        <h2>Branden Webb</h2>
                        <p class="dev-intro left">
                            I have been a passionate developer for quite some time. I tend to focus on learning new things everyday and to apply them wherever possible. I have a strong desire to create and to learn new things, and I'm always working to make the world a better place.
                        </p>
                        <a href="https://lynxbob.github.io/" target="#"><button>More About Branden</button></a>
                    </div>
                    <img class="dev-img" src="../static/images/dev-img/Branden-Webb.jpg" alt="profile-pic">
                </article>

                <article class="dev-info">
                    <img class="dev-img" src="../static/images/dev-img/Bishnu-Dahal.jpg" alt="profile-pic">
                    <div>
                        <h2>Bishnu Dahal</h2>
                        <p class="dev-intro right"> Ambitious Java Developer versed in following established procedures. Offering technical expertise
                            in programming analysis, application analysis, and design. Excellent team
                            player with in-depth knowledge of development tools and languages.
                        </p>
                        <a href="https://www.linkedin.com/in/bdahal17/" target="#"><button>More About
                                Bishnu</button></a>
                    </div>
                </article>
                <article class="dev-info">
                    <div>
                        <h2>Connor Chambers</h2>
                        <p class="dev-intro left">
                            A trained Full-Stack Developer, a father, and a maker. I have a great eagerness to learn new skills and information exemplified by my many projects. Currently learning about Android Development, UI Design, and SEO.
                        </p>
                        <a href="https://www.linkedin.com/in/chambers-connor/" target="#"><button>More About
                                Connor</button></a>
                    </div>
                    <img class="dev-img" src="../static/images/dev-img/Connor-Chambers.jpg" alt="profile-pic">
                </article>

                <article class="dev-info">
                    <img class="dev-img" src="../static/images/dev-img/Jelanie-Starks.jfif" alt="profile-pic">
                    <div>
                        <h2>Jelanie Starks</h2>
                        <p class="dev-intro right"> Born and raised in Columbus Ohio, I am a up and coming developer who likes to tinker with things. I have a passion for solving problems and making creative solutions, actually just being creative in general. So I find developing right up the alley with content creation wether it be photos,videos,painting. I enjoy them all on the same wavelength. Personally I enjoy css and Java the most as far as it comes to developing, I like creating the bare structure of the code then making it pretty, sort of like functional art. I also dabble in video content and photography! Check out my youTube channels!
                        </p>
                        <a href="https://jelaniestarks.github.io/" target="#"><button>More About Jelanie</button></a>
                    </div>
                </article>
                <article class="dev-info">
                    <div>
                        <h2>Jonathon Abrams</h2>
                        <p class="dev-intro left">
                            description HERE Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                        <a href="https://www.linkedin.com/in/jonathon-abramsii/
                        " target="#"><button>More About Jonathon</button></a>
                    </div>
                    <img class="dev-img" src="../static/images/dev-img/Jonathon-Abrams.jpg" alt="profile-pic">
                </article>

                <article class="dev-info">
                    <img class="dev-img" src="../static/images/dev-img/Weiwei-Jiang.JPG" alt="profile-pic">
                    <div>
                        <h2>WeiWei Jiang</h2>
                        <p class="dev-intro right">Hi, I'm Weiwei. (It sounds just like Wayway, in case you're
                            wondering.)
                            <br>
                            A Chinese girl turned Ohioan, I've always been enjoying building things by hands, software
                            and
                            tools. Originally a graphic designer, I jumped into the world of e-commerce after moving to
                            America, and now a tech mom, who is passionate about solving everyday challenges by bringing
                            people and technology together. An advocate for multicultural awareness, and always happy to
                            start a conversation about my culture or your culture.
                        </p>
                        <a href="https://weiwei-20.github.io/" target="#"><button>More About Weiwei</button></a>
                    </div>
                </article>
        </main>

        <footer class="_footer">&copy;2021 The Virtual X Team</footer>
    </div>
</body>

</html>